/*
 * Some CSS that should be applied in QuPath.
 */

/* Define colors that may be used by script editors and log viewers */
.root {
	
  -qp-script-text-color: -fx-text-background-color;
	
  -qp-script-background-color: -fx-control-inner-background;

  -qp-script-error-color: ladder(-qp-script-background-color, red 30%, darkred 50%, red 70%);

  -qp-script-warn-color: ladder(-qp-script-background-color, orange 30%, darkorange 50%, orange 70%);

  -qp-script-info-color: -qp-script-text-color;

  -qp-script-debug-color: ladder(-qp-script-background-color, derive(royalblue, 25%) 49%, derive(royalblue, -5%) 50%);

  -qp-script-trace-color: ladder(-qp-script-background-color, derive(-qp-script-text-color, -30%) 49%, derive(-qp-script-text-color, 30%) 50%);
  
  -qp-script-keyword-color: ladder(-qp-script-background-color, darkorange 50%, orange 51%);
  
  -qp-script-paren-color: -qp-script-text-color;

  -qp-script-bracket-color: -qp-script-text-color;

  -qp-script-brace-color: -qp-script-text-color;

  -qp-script-semicolon-color: -qp-script-text-color;

  -qp-script-string-color: ladder(-qp-script-background-color, derive(seagreen, 50%) 49%, derive(seagreen, -5%) 50%);

  -qp-script-number-color: ladder(-qp-script-background-color, derive(orange, 50%) 49%, derive(orange, -5%) 50%);

  -qp-script-comment-color: ladder(-qp-script-background-color, derive(-qp-script-text-color, -30%) 49%, derive(-qp-script-text-color, 30%) 50%);
  
  -qp-script-link-color: ladder(-qp-script-background-color, derive(purple, 25%) 49%, derive(purple, -5%) 50%);

  -qp-script-tag-color: ladder(-qp-script-background-color, derive(orange, 25%) 49%, derive(orange, -5%) 50%);

  -qp-script-attribute-color: ladder(-qp-script-background-color, derive(royalblue, 25%) 49%, derive(royalblue, -5%) 50%);

  -qp-script-tag-color: -qp-script-text-color;

}


/* Soften the main toolbar icons */
.tool-bar .qupath-icon * {
  -fx-opacity: 0.8;
}

/* Used in command finder for help text */
.popover * {
    -fx-background-color: -fx-base;
    -fx-text-fill: -fx-text-base-color;
}
