body {
    font-family: sans-serif;
    color: #262626;
    background-color: white;
}

.sub-nav .nav-list-search {
    /* Don't display built-in search, as it fails within a WebView */
    display: none;
}