# Javadocs
docs/

# Maven
deploy/
target/
log/

# IntelliJ
.idea/
*.iml
out/

# Gradle
build/
.gradle/

# Eclipse
.settings/
.project
.classpath

# Mac
.DS_Store

# Java
hs_err*.log

# Other
*.tmp
*.bak
*.swp
*~.nib
*thumbs.db
bin/
