.default-color0.chart-series-line { -fx-stroke-width: 5; }
.default-color1.chart-series-line { -fx-stroke-width: 5; }
.default-color2.chart-series-line { -fx-stroke-width: 5; }
.default-color3.chart-series-line { -fx-stroke-width: 5; }
.default-color4.chart-series-line { -fx-stroke-width: 5; }
.default-color5.chart-series-line { -fx-stroke-width: 5; }
.default-color6.chart-series-line { -fx-stroke-width: 5; }
.default-color7.chart-series-line { -fx-stroke-width: 5; }
